<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h2>{{ msg }}</h2>

   <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      td {
         text-align: center;
       }
      tr, td {
         padding: 6px;
       }
   </style>


<h1><p style="text-align: center; color: blue;font-size:2.5vw">Overall Covid-19 Survey Analysis</h1></p>

<!-- 
<div style="overflow-x:auto;">
<table border="1" cellpadding="4">

   <thead>
      <td>Name</td>
      <td>Contact Number</td>
      <td>Age Group</td>
      <td>Profession</td>
      <td>Question-1</td>
      <td>Question-2</td>
      <td>Question-3</td>
      <td>Question-4</td>
      <td>Question-5</td>
      <td>Question-6</td>
      <td>Question-7</td>
      <td>Question-8</td>
      <td>Question-9</td>
      <td>Question-10</td>
   </thead>
  

   {% for row in data %}
       <tr>
       {% for d in row %}
           <td>{{ d }}</td>
       {% endfor %}
       </tr>
   {% endfor %}
</table>
</div>
<br> -->

<!-- <img src="http://127.0.0.1:4900/graph"> -->

<!-- <h1><p style="text-align: center; color: rgb(245, 58, 58);font-size:2.5vw">Overall Survey Analysis</h1></p> -->

<!-- <img src="{{url_for('static', filename='question1.png')}}", style="max-width:100%;height:auto;">
<img src="{{url_for('static', filename='question2.png')}}", style="max-width:100%;height:auto;">
<img src="{{url_for('static', filename='question3.png')}}", style="max-width:100%;height:auto;">
<center><img src="{{url_for('static', filename='question4.png')}}", style="max-width:100%;height:auto;"><img src="{{url_for('static', filename='question5.png')}}", style="max-width:100%;height:auto;"></center>
<center><img src="{{url_for('static', filename='question6.png')}}", style="max-width:100%;height:auto;"><img src="{{url_for('static', filename='question7.png')}}", style="max-width:100%;height:auto;"></center>
<img src="{{url_for('static', filename='question8.png')}}", style="max-width:100%;height:auto;">
<img src="{{url_for('static', filename='question9.png')}}", style="max-width:100%;height:auto;">
<img src="{{url_for('static', filename='question10.png')}}", style="max-width:100%;height:auto;"> -->


<img src="{{url_for('static', filename='question1.png')}}", style="max-width:100%;height:auto;">
<img src="{{url_for('static', filename='question2.png')}}", style="max-width:100%;height:auto;">
<img src="{{url_for('static', filename='question3.png')}}", style="max-width:100%;height:auto;">
<center><img src="{{url_for('static', filename='question4.png')}}", style="max-width:100%;height:auto;"><img src="{{url_for('static', filename='question5.png')}}", style="max-width:100%;height:auto;"></center>
<center><img src="{{url_for('static', filename='question6.png')}}", style="max-width:100%;height:auto;"><img src="{{url_for('static', filename='question7.png')}}", style="max-width:100%;height:auto;"></center>
<img src="{{url_for('static', filename='question8.png')}}", style="max-width:100%;height:auto;">
<img src="{{url_for('static', filename='question9.png')}}", style="max-width:100%;height:auto;">
<img src="{{url_for('static', filename='question10.png')}}", style="max-width:100%;height:auto;">

<center><h3><a href = "/">Go back to home page</a></h3></center>

</body>
</html>




<!-- <!DOCTYPE html>
<html>
  <head>    
  </head>
  <body>
    <input type="button" id='script' name="scriptbutton" value=" Run Script " onclick="goPython()">

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script>
        function survey_analysis(){
            $.ajax({
              url: "graph.py",
             context: document.body
            }).done(function() {
             alert('finished python script');;
            });
        }
    </script>
  </body>
</html> -->
